@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@font-face {
    font-family: 'TypeMachine';
    src: url('/fonts/TypeMachine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica';
    src: url('/fonts/Coolvetica-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cocogoose';
    src: url('/fonts/Cocogoose-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cocogoose';
    src: url('/fonts/Cocogoose-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monimer Serif';
    src: url('/fonts/MonimerSerif_PERSONAL_USE_ONLY.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('/fonts/recoleta.woff2') format('woff2'),
         url('/fonts/recoleta.woff') format('woff'),
         url('/fonts/recoleta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Type Machine', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);

    /* Custom Palette (Standard Demo) */
    --color-punch-red: #e63946;
    --color-punch-red-100: #33060a;
    --color-punch-red-200: #660d14;
    --color-punch-red-300: #99131e;
    --color-punch-red-400: #cb1928;
    --color-punch-red-500: #e63946;
    --color-punch-red-600: #eb5f6b;
    --color-punch-red-700: #f08790;
    --color-punch-red-800: #f5afb5;
    --color-punch-red-900: #fad7da;

    --color-honeydew: #f1faee;
    --color-honeydew-100: #234c16;
    --color-honeydew-200: #47982c;
    --color-honeydew-300: #75ce57;
    --color-honeydew-400: #b4e4a3;
    --color-honeydew-500: #f1faee;
    --color-honeydew-600: #f5fbf2;
    --color-honeydew-700: #f7fcf6;
    --color-honeydew-800: #fafdf9;
    --color-honeydew-900: #fcfefc;

    --color-frosted-blue: #a8dadc;
    --color-frosted-blue-100: #163637;
    --color-frosted-blue-200: #2c6d6f;
    --color-frosted-blue-300: #42a3a6;
    --color-frosted-blue-400: #70c3c6;
    --color-frosted-blue-500: #a8dadc;
    --color-frosted-blue-600: #b9e2e3;
    --color-frosted-blue-700: #cae9ea;
    --color-frosted-blue-800: #dcf0f1;
    --color-frosted-blue-900: #edf8f8;

    --color-cerulean: #457b9d;
    --color-cerulean-100: #0e181f;
    --color-cerulean-200: #1b313e;
    --color-cerulean-300: #29495e;
    --color-cerulean-400: #37627d;
    --color-cerulean-500: #457b9d;
    --color-cerulean-600: #6097b9;
    --color-cerulean-700: #88b1cb;
    --color-cerulean-800: #b0cbdc;
    --color-cerulean-900: #d7e5ee;

    --color-oxford-navy: #1d3557;
    --color-oxford-navy-100: #060b12;
    --color-oxford-navy-200: #0c1623;
    --color-oxford-navy-300: #122035;
    --color-oxford-navy-400: #172b46;
    --color-oxford-navy-500: #1d3557;
    --color-oxford-navy-600: #315a93;
    --color-oxford-navy-700: #4e7fc4;
    --color-oxford-navy-800: #89aad8;
    --color-oxford-navy-900: #c4d4eb;

    /* Commercial Galerie Palette */
    --color-prussian-blue: #001427;
    --color-prussian-blue-100: #000408;
    --color-prussian-blue-200: #000810;
    --color-prussian-blue-300: #000d18;
    --color-prussian-blue-400: #001121;
    --color-prussian-blue-500: #001427;
    --color-prussian-blue-600: #004687;
    --color-prussian-blue-700: #0076e4;
    --color-prussian-blue-800: #43a4ff;
    --color-prussian-blue-900: #a1d2ff;

    --color-deep-teal: #f8ad9d;
    --color-deep-teal-100: #4b1205;
    --color-deep-teal-200: #97240a;
    --color-deep-teal-300: #e23610;
    --color-deep-teal-400: #f36d50;
    --color-deep-teal-500: #f8ad9d;
    --color-deep-teal-600: #f9bdaf;
    --color-deep-teal-700: #fbcdc3;
    --color-deep-teal-800: #fcded7;
    --color-deep-teal-900: #feeeeb;

    --color-jasmine: #ffdab9;
    --color-jasmine-100: #582900;
    --color-jasmine-200: #af5200;
    --color-jasmine-300: #ff7b08;
    --color-jasmine-400: #ffaa60;
    --color-jasmine-500: #ffdab9;
    --color-jasmine-600: #ffe1c6;
    --color-jasmine-700: #ffe8d4;
    --color-jasmine-800: #fff0e2;
    --color-jasmine-900: #fff7f1;

    --color-brick-ember: #bf0603;
    --color-brick-ember-100: #260101;
    --color-brick-ember-200: #4c0201;
    --color-brick-ember-300: #730402;
    --color-brick-ember-400: #990502;
    --color-brick-ember-500: #bf0603;
    --color-brick-ember-600: #fb0a06;
    --color-brick-ember-700: #fc4744;
    --color-brick-ember-800: #fd8482;
    --color-brick-ember-900: #fec2c1;

    --color-blood-red: #8d0801;
    --color-blood-red-100: #1c0200;
    --color-blood-red-200: #390300;
    --color-blood-red-300: #550500;
    --color-blood-red-400: #720601;
    --color-blood-red-500: #8d0801;
    --color-blood-red-600: #d70c01;
    --color-blood-red-700: #fe2f24;
    --color-blood-red-800: #fe746d;
    --color-blood-red-900: #ffbab6;
}

:root {
    --background: oklch(0.975 0.012 40);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.586 0.253 17.6);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.712 0.194 13.428);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.712 0.194 13.428);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.586 0.253 17.6);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

.theme-auto {
    --background: oklch(0.92 0 0); /* Light gray background to contrast with white cards */
    --foreground: oklch(0.15 0.02 240); /* Dark text for light background */
    --card: oklch(1 0 0); /* Pure white cards */
    --card-foreground: oklch(0.15 0.02 240);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.15 0.02 240);
    --primary: oklch(0.6 0.25 25); /* Racing Red */
    --primary-foreground: oklch(0.98 0 0);
    --secondary: oklch(0.90 0.02 240);
    --secondary-foreground: oklch(0.15 0.02 240);
    --muted: oklch(0.90 0.02 240);
    --muted-foreground: oklch(0.40 0.02 240);
    --accent: oklch(0.90 0.02 240);
    --accent-foreground: oklch(0.15 0.02 240);
    --destructive: oklch(0.5 0.2 25);
    --border: oklch(0.85 0.02 240);
    --input: oklch(1 0 0); /* White for inputs */
    --font-heading: 'Coolvetica', sans-serif;
    --font-sans: 'Coolvetica', sans-serif;
    font-family: 'Coolvetica', sans-serif !important;
}

.theme-auto h1, .theme-auto h2, .theme-auto h3, .theme-auto h4, .theme-auto h5, .theme-auto h6, .theme-auto .font-black {
    font-family: 'Coolvetica', sans-serif !important;
}

.theme-standard, .theme-standard * {
    --background: #f1faee; /* Honeydew */
    --foreground: #1d3557; /* Oxford Navy */
    --card: #ffffff; /* White */
    --card-foreground: #1d3557;
    --popover: #ffffff;
    --popover-foreground: #1d3557;
    --primary: #457b9d; /* Cerulean */
    --primary-foreground: #ffffff;
    --secondary: #a8dadc; /* Frosted Blue */
    --secondary-foreground: #1d3557;
    --muted: #edf8f8;
    --muted-foreground: #37627d;
    --accent: #e63946; /* Punch Red */
    --accent-foreground: #ffffff;
    --destructive: #e63946;
    --border: #cae9ea; 
    --input: #ffffff;

    --font-heading: 'CreatoDisplay-Regular', sans-serif;
    --font-sans: 'CreatoDisplay-Regular', sans-serif;
    font-family: 'CreatoDisplay-Regular', sans-serif !important;
}

.dashboard-premium, .dashboard-premium body {
    --font-heading: 'Coolvetica', sans-serif;
    --font-sans: 'Coolvetica', sans-serif;
    font-family: 'Coolvetica', sans-serif !important;
}

.dashboard-premium h1, .dashboard-premium h2, .dashboard-premium h3, .dashboard-premium h4, .dashboard-premium h5, .dashboard-premium h6, .dashboard-premium .font-black {
    font-family: 'Coolvetica', sans-serif !important;
}

.theme-diamant {
    --background: #fff7f1;
    --foreground: #1c1917;
    --card: #ffffff;
    --card-foreground: #1c1917;
    --popover: #ffffff;
    --popover-foreground: #1c1917;
    --primary: #f08080;
    --primary-foreground: #ffffff;
    --secondary: #fce5e5;
    --secondary-foreground: #420808;
    --muted: #fef3ee;
    --muted-foreground: #78716c;
    --accent: #fbc4ab;
    --accent-foreground: #1c1917;
    --destructive: #e63946;
    --border: #fddccd;
    --input: #ffffff;
    --ring: #f08080;
    --font-heading: 'Monimer Serif', serif;
    --font-sans: 'Recoleta', serif;
    font-family: 'Recoleta', serif !important;
}

.theme-diamant h1, .theme-diamant h2, .theme-diamant h3, .theme-diamant h4, .theme-diamant h5, .theme-diamant h6, .theme-diamant .font-black {
    font-family: 'Monimer Serif', serif !important;
}

.theme-auto input:not([type="checkbox"]):not([type="radio"]), 
.theme-auto textarea, 
.theme-auto select {
    background-color: white !important;
    color: black !important;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
  html {
    @apply font-sans overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}

@keyframes shine {
  100% {
    transform: translateX(200%) skewX(-12deg);
  }
}
@keyframes scroll {
  0% { transform: translateY(-100%); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateY(100%); opacity: 0; }
}

@layer utilities {
  .animate-shine { animation: shine 1s ease-out forwards; }
  .animate-scroll { animation: scroll 2s ease-in-out infinite; }
}

.commercial-page {
  --font-sans: 'Coolvetica', sans-serif;
  --font-heading: 'Cocogoose', sans-serif;
}
.commercial-page {
  font-family: var(--font-sans);
}
.commercial-page h1, .commercial-page h2, .commercial-page h3, .commercial-page h4, .commercial-page h5, .commercial-page h6 {
  font-family: var(--font-heading);
}